In [ ]:
import pandas as pd

### 1

Первая таблица содержит в себе сводные данные по количеству употребляемого алкоголя в каждой стране.

Описание датасета:
- country -	Name of the country (String)
- beer_servings	- Number of beer servings per person in the country (Integer)
- spirit_servings	- Number of spirit servings per person in the country (Integer)
- wine_servings	- Number of wine servings per person in the country(Integer)
- total_litres_of_pure_alcohol -	Total litres of pure alcohol consumed per person in the country (Float)

Вторая таблица содержит в себе информацию о научных статьях и исследованиях о продолжительности жизни (в разных категориях и для разных групп) по той или иной стране.

Откройте в ноутбуке оба файла с данными. Какой размер имеют таблицы? Выведите первые 5 и последние 5 строк для обеих таблиц. Сколько уникальных стран представлено в каждой из таблиц? Сделайте выводы.

In [ ]:
df_d = pd.read_csv('drinks.csv')
df_l = pd.read_csv('lifeexpectancy-verbose.csv')

In [ ]:
print(f'Размер lifeexpectancy-verbose: {df_l.shape}')
df_l.head()

Размер lifeexpectancy-verbose: (6408, 17)

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0
1,1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.3
2,2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.0
3,3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.0
4,4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.0

Сверху отобразил первые 5 строк, ниже отображаю последние 5 строк.
Далее делаю все то же самое для drinks.csv

In [ ]:
df_l.tail()

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
6403,6403,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LMI,Lower_middle_income,MAR,Morocco,BTSX,Both sexes,68,68.00000
6404,6404,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,WPR,Western Pacific,WB_UMI,Upper_middle_income,PLW,Palau,BTSX,Both sexes,16,16.00000
6405,6405,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AFR,Africa,WB_LI,Low_income,BFA,Burkina Faso,FMLE,Female,51,51.00000
6406,6406,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_LMI,Lower_middle_income,ALB,Albania,MLE,Male,64,63.50000
6407,6407,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,ARM,Armenia,BTSX,Both sexes,71,71.02699

In [ ]:
print(f'Размер drinks: {df_d.shape}')
df_d.head()

Размер drinks: (193, 6)

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,Afghanistan,0,0,0,0.0
1,1,Albania,89,132,54,4.9
2,2,Algeria,25,0,14,0.7
3,3,Andorra,245,138,312,12.4
4,4,Angola,217,57,45,5.9

In [ ]:
df_d.tail()

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
188,188,Venezuela,333,100,3,7.7
189,189,Vietnam,111,2,1,2.0
190,190,Yemen,6,0,0,0.1
191,191,Zambia,32,19,4,2.5
192,192,Zimbabwe,64,18,4,4.7

In [ ]:
unique_l = df_l['CountryDisplay'].unique()
unique_d = df_d['country'].unique()
print(len(unique_l))
len(unique_d)

194

193

Выше нашел количество уникальных стран, в таблице drinks одна потерялась

In [ ]:
import numpy as np
diff = np.setdiff1d(unique_l, unique_d)
len(diff)
diff

array(['Antigua and Barbuda', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brunei Darussalam', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Guinea_Bissau',
       'Iran (Islamic Republic of)', "Lao People's Democratic Republic",
       'Micronesia (Federated States of)', 'Republic of Korea',
       'Republic of Moldova', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'South Sudan', 'Syrian Arab Republic',
       'The former Yugoslav republic of Macedonia', 'Timor_Leste',
       'Trinidad and Tobago',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam'], dtype=object)

У меня есть подозрения, что в разных таблицах одни и те же страны называются по разному. Например, в массиве diff есть United States of America, а в массиве ниже из таблицы drinks есть USA. Точно так же с Vietnam и Viet Nam

In [ ]:
unique_d

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', "Cote d'Ivoire",
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'North Korea', 'DR Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'South Korea', 'Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'St. Kitts & Nevis', 'St. Lucia',
       'St. Vincent & the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Tanzania', 'USA', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

Я думаю, что если нужно работать в этими таблицами вместе, тогда нужно или как-либо отредактировать названия стран, или объединять их по другим признакам, однако кажется, что так сделать не получится

### 2

Для каждого признака в рассматриваемых данных укажите тип этого признака и кратко обоснуйте, почему тип именно такой.

In [ ]:
df_d.dtypes

index                             int64
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

В столбцах с типом int64 такой тип, так как в нем содержатся количественные значения, а в total_litres_of_pure_alcohol float64, так как там вещественные значения, обозачающие количество в литрах
country имеет тип object, так как в нем содержатся данные с названиями строк

In [ ]:
df_l.dtypes

index                              int64
GhoCode                           object
GhoDisplay                        object
PublishStateCode                  object
PublishStateDisplay               object
YearCode                           int64
YearDisplay                        int64
RegionCode                        object
RegionDisplay                     object
WorldBankIncomeGroupGroupCode     object
WorldBankIncomeGroupDisplay       object
CountryCode                       object
CountryDisplay                    object
SexCode                           object
SexDisplay                        object
DisplayValue                       int64
Numeric                          float64
dtype: object

Здесь большое количество столбцов имеет тип object, так как эти столбы содержат строковые значения
Касательно int64 - в столбцах с этим типом данных тоже содержатся количественные значения, и только в столбце Numeric значения вещественные

### 3

Внимательно изучите признаки обеих таблиц. Как вы считаете, какая из таблиц является главной (а какая сопутствующей)? Почему вы так думаете?

Какой признак может представлять существенный интерес для исследования и являться целевой переменной в рамках представленного датасета? Ответ обоснуйте.

***Бонус (1 бон. балл):*** Попробуйте описать задачу машинного обучения, которую вы могли бы решать для данного датасета с учетом выбранной вами раннее целевой переменной и проблематики исследования. Подробнее про постановку и формализацию задач машинного обучения, а также про различные типы таких задач — вы можете прочитать, например, вот в этой [статье](https://habr.com/ru/company/simbirsoft/blog/565396/) (в начале)


```
# ниже мой ответ:
```
**Я думаю, что главной является таблица lifeexpectancy-verbose, так как она отражает довольно подробную информацию о продолжительности жизни по всему миру, а таблица drinks имеет довольно небольшое количество узкой информации. Несомненно потребление алкоголя влияет на продолжительность жизни, однако есть и другие факторы, которые при исследовании тоже лучше включать в качестве сопутствующей информации**

Далее пишу для бонусного балла)

### 4

Какова доля статей о продолжительности жизни в Африке? Какова доля статей о продолжительности жизни мужчин и доля статей о продолжительности жизни женщин среди всех статей по Африке?

***Бонус (2 бон. балла):*** Сравните эти доли с аналогичными долями по другим регионам. Как вы можете объяснить возникающие сходства и различия? Прокомментируйте полученные результаты.

In [ ]:
le_africa = df_l[(df_l['RegionDisplay'] == 'Africa')]
result = len(le_africa) / len(df_l)
result

0.23782771535580524

23% статей занимает Африка

In [ ]:
men_africa = len(le_africa[(le_africa['SexDisplay'] == 'Male')])
women_africa = len(le_africa[(le_africa['SexDisplay'] == 'Female')])
print(men_africa / len(le_africa))
women_africa / len(le_africa)

0.3333333333333333

0.3333333333333333

Оба пола занимают одинаковое количество статей среди Африки. В самом датасете я видел, что есть параметр 'Both sexes', проверяю это ниже:

In [ ]:
both_africa = len(le_africa[(le_africa['SexDisplay'] == 'Both sexes')])
both_africa / len(le_africa)

0.3333333333333333

Да, как я и ожидал, в этом датасете параметры поделены поровну

### 5

Сколько всего существует видов статей с точки зрения оцениваемого параметра продолжительности жизни? Какой из этих видов статей самый популярный (написано наибольшее количество научных работ)? В рамках найденного вами самого популярного вида статей проведите сравнение, относительно какой из половых групп: мужчины, женщины или же оба пола — статей в нем было больше всего?

In [ ]:
df_l['GhoDisplay'].value_counts()

GhoDisplay
Life expectancy at birth (years)                   2328
Life expectancy at age 60 (years)                  2328
Healthy life expectancy (HALE) at birth (years)    1752
Name: count, dtype: int64

Всего три вида, из них два имеют наибольшее количество научных работ, поэтому проводить сравнения относительно половых групп буду для двух видов

In [ ]:
df_l.groupby('GhoDisplay').aggregate({'SexDisplay':'value_counts'})

                                                            SexDisplay
GhoDisplay                                      SexDisplay
Healthy life expectancy (HALE) at birth (years) Both sexes         584
                                                Female             584
                                                Male               584
Life expectancy at age 60 (years)               Both sexes         776
                                                Female             776
                                                Male               776
Life expectancy at birth (years)                Both sexes         776
                                                Female             776
                                                Male               776

Оба вида содержит одинаковое количество статей в разрее полов. Кажется, что датасет выглядит именно таким образом для того, чтобы легче было анализировать именно качественные данные

### 6

Выведите минимальную, среднюю, медианную и максимальную оцененную продолжительность жизни людей от рождения (life expectancy at birth). Выберите любые три страны на ваш вкус и проделайте то же самое только для статей по этим странам. Что можно сказать на основе результатов, которые вы получили?

In [ ]:
stats = df_l[df_l['GhoDisplay'] == 'Life expectancy at birth (years)']['Numeric'].agg(['min', 'max', 'mean', 'median'])
stats

min       38.000000
max       87.154570
mean      68.441379
median    70.857895
Name: Numeric, dtype: float64

Ниже смотрю на эти статистики в разрезе трех стран - Колумбия, Германия и Швейцария

In [ ]:
df_colombia = df_l[df_l['CountryDisplay'] == 'Colombia']
stats_colombia = df_colombia[df_colombia['GhoDisplay'] == 'Life expectancy at birth (years)']['Numeric'].agg(['min', 'mean', 'median', 'max'])
stats_colombia

min       67.000000
mean      75.510635
median    75.526040
max       83.000000
Name: Numeric, dtype: float64

In [ ]:
df_germany = df_l[df_l['CountryDisplay'] == 'Germany']
stats_germany = df_germany[df_germany['GhoDisplay'] == 'Life expectancy at birth (years)']['Numeric'].agg(['min', 'mean', 'median', 'max'])
stats_germany

min       72.000000
mean      78.814174
median    78.774550
max       83.278780
Name: Numeric, dtype: float64

In [ ]:
df_switzerland = df_l[df_l['CountryDisplay'] == 'Switzerland']
stats_switzerland = df_switzerland[df_switzerland['GhoDisplay'] == 'Life expectancy at birth (years)']['Numeric'].agg(['min', 'mean', 'median', 'max'])
stats_switzerland

min       74.000000
mean      80.937276
median    81.000000
max       85.263500
Name: Numeric, dtype: float64

### 7

Сформируйте результирующий датафрейм на основе проделанных вами действий в предыдущем номере. У датафрейма должно быть 4 столбца, в соответствии с заданными агреггирующими функциями: минимум, среднее, медиана, максимум, — а также 4 строки: статистика по всему датасету; статистика по трем выбранным вами странам. Сохраните программно созданный вами датафрейм в виде csv файла.

*Примечание. Датафрейм необходимо создавать автоматизированным образом. Не допускается ручной перенос значений из полученных в предыдущем задании ячеек в пустой датафрейм и/или прописывание конкретных значений (чисел) в коде программы. Представьте, что у нас не 3 страны, а 100 и не 4 агреггирующих метрики, а 100!*

In [ ]:
df_stats = pd.DataFrame({
    'All': stats,
    'Colombia': stats_colombia,
    'Germany': stats_germany,
    'Switzerland': stats_switzerland}).T

In [ ]:
df_stats.to_csv('df_stats.csv', index=True)

### 8

Есть ли в наших датасетах пропуски? Если да, то в каких столбцах? Сколько пропусков в каждом из них?

Подумайте, как стоит избавиться от пропусков в каждом из столбцов, и сделайте это. Аргументируйте ваши действия.

Проверьте, что пропусков нигде не осталось.

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с уже обновленными датасетами.*

In [ ]:
df_d.isnull().sum()

index                           0
country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64

в датасете drinks пропусков нет

In [ ]:
df_l.isnull().sum()

index                               0
GhoCode                             0
GhoDisplay                          0
PublishStateCode                    0
PublishStateDisplay                 0
YearCode                            0
YearDisplay                         0
RegionCode                          0
RegionDisplay                       0
WorldBankIncomeGroupGroupCode    1164
WorldBankIncomeGroupDisplay      1164
CountryCode                         0
CountryDisplay                      0
SexCode                             0
SexDisplay                          0
DisplayValue                        0
Numeric                             0
dtype: int64

In [ ]:
df_l = df_l.fillna('Missed')

In [ ]:
df_l.isnull().sum()

index                            0
GhoCode                          0
GhoDisplay                       0
PublishStateCode                 0
PublishStateDisplay              0
YearCode                         0
YearDisplay                      0
RegionCode                       0
RegionDisplay                    0
WorldBankIncomeGroupGroupCode    0
WorldBankIncomeGroupDisplay      0
CountryCode                      0
CountryDisplay                   0
SexCode                          0
SexDisplay                       0
DisplayValue                     0
Numeric                          0
dtype: int64

Я посчитал, что в данном случае стоит заполнить подобные пропущенные значения одним определенным, которое будет означать, что определенная статья не связана с какой-либо международной банковской группой

### 9

Все ли признаки несут в себе полезную информацию? Почему вы так считаете? Избавьтесь от ненужных столбцов. Свой выбор аргументируйте

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с уже обновленными датасетами.*

В датасете drinks все столбцы важны, а в датасете lifrexpectancy есть несколько дублирующих столбцов - они заканчиваются на "Code", могут выглядеть не похоже, но несут ту же информацию (например, как в случае с GhoCode), а также есть два дублирующих друг друга количественных столбца. Из них я бы оставил Numeric.

In [ ]:
life_exp = df_l.drop(['GhoCode', 'PublishStateCode', 'YearCode', 'RegionCode',
                      'WorldBankIncomeGroupGroupCode', 'CountryCode',
                      'SexCode', 'DisplayValue'], axis=1)
life_exp

,index,GhoDisplay,PublishStateDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
0,0,Life expectancy at birth (years),Published,1990,Americas,Lower_middle_income,Nicaragua,Male,68.00000
1,1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69.30000
2,2,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.00000
3,3,Life expectancy at birth (years),Published,2000,Africa,Lower_middle_income,Nigeria,Female,48.00000
4,4,Life expectancy at age 60 (years),Published,1990,South_East Asia,Lower_middle_income,Thailand,Female,19.00000
...,...,...,...,...,...,...,...,...,...
6403,6403,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68.00000
6404,6404,Life expectancy at age 60 (years),Published,1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16.00000
6405,6405,Life expectancy at birth (years),Published,1990,Africa,Low_income,Burkina Faso,Female,51.00000
6406,6406,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower_middle_income,Albania,Male,63.50000
6407,6407,Life expectancy at birth (years),Published,2013,Europe,Missed,Armenia,Both sexes,71.02699

А еще решил проверить, есть ли в PublishStateDisplay значения помимо "Published". Если нет, тогда этот столбец тоже не несет важной информации и его можно убрать

In [ ]:
life_exp['PublishStateDisplay'].value_counts()

PublishStateDisplay
Published    6408
Name: count, dtype: int64

In [ ]:
life_exp.set_index('index')

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,Numeric
index,,,,,,,
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.00000
1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69.30000
2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.00000
3,Life expectancy at birth (years),2000,Africa,Lower_middle_income,Nigeria,Female,48.00000
4,Life expectancy at age 60 (years),1990,South_East Asia,Lower_middle_income,Thailand,Female,19.00000
...,...,...,...,...,...,...,...
6403,Life expectancy at birth (years),2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68.00000
6404,Life expectancy at age 60 (years),1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16.00000
6405,Life expectancy at birth (years),1990,Africa,Low_income,Burkina Faso,Female,51.00000
6406,Healthy life expectancy (HALE) at birth (years),2012,Europe,Lower_middle_income,Albania,Male,63.50000
6407,Life expectancy at birth (years),2013,Europe,Missed,Armenia,Both sexes,71.02699

### 10

Посчитайте, насколько сильно коррелируют друг с другом потребления разных видов алкоголя (beer_servings,	spirit_servings и	wine_servings). Создайте датафрейм с попарными корреляциями этих столбцов друг с другом. Какие выводы можно сделать?

In [ ]:
df_d[['beer_servings', 'spirit_servings', 'wine_servings']].corr()

                 beer_servings  spirit_servings  wine_servings
beer_servings         1.000000         0.458819       0.527172
spirit_servings       0.458819         1.000000       0.194797
wine_servings         0.527172         0.194797       1.000000

Корелляция между потреблением разных видов есть, но не сильная. А также самая слабая корелляция между потреблением крепкого алкоголя и вина. Самая сильная - между потреблением пива и вина.

### 11

Каким образом следует осуществить соединение двух имеющихся у нас таблиц? Почему? Соедините таблицы!

Получилось ли у вас задействовать все строки, и если нет, то почему? Что делать с теми строками, которые не удается задействовать, если таковые есть? Ответ обоснуйте.

*Подсказка. В ответе на первый вопрос задания, а также в обосновании способа соединения таблиц вам может помочь задание 3 данного раздела ДЗ и соответствующий семинарский ноутбук!*

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с одним объединенным датасетом.*

In [ ]:
n_life_exp = life_exp.rename(columns={'CountryDisplay': 'country'})
all = pd.merge(n_life_exp, df_d, on='country', how='inner').drop(['index_x'], axis=1)
all

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,Numeric,index_y,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.00000,122,78,118,1,3.5
1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69.30000,81,313,118,165,11.4
2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.00000,190,6,0,0,0.1
3,Life expectancy at birth (years),2000,Africa,Lower_middle_income,Nigeria,Female,48.00000,124,42,5,2,9.1
4,Life expectancy at age 60 (years),1990,South_East Asia,Lower_middle_income,Thailand,Female,19.00000,169,99,258,1,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...
5506,Life expectancy at birth (years),2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68.00000,114,12,6,10,0.5
5507,Life expectancy at age 60 (years),1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16.00000,129,306,63,23,6.9
5508,Life expectancy at birth (years),1990,Africa,Low_income,Burkina Faso,Female,51.00000,26,25,7,7,4.3
5509,Healthy life expectancy (HALE) at birth (years),2012,Europe,Lower_middle_income,Albania,Male,63.50000,1,89,132,54,4.9
5510,Life expectancy at birth (years),2013,Europe,Missed,Armenia,Both sexes,71.02699,7,21,179,11,3.8

Ранее я обнаружил, что в датасетах названия стран разные, поэтому я думаю, что стоит объединять данные через inner, чтобы не исказить итоговую информацию. Таким образом потеряется несколько стран, и информацию о них нельзя будет использовать

### 12

Осуществите группировку данных по странам и типу научной статьи (многомерная группировка). В качестве столбцов значений для группировки возьмите оцененную продолжительность жизни и общее потребление алкоголя в литрах. В качестве агреггирующих функций для продолжительности жизни возьмите среднее, медиану, минимум и максимум, а для потребления алкоголя — агреггирующую функцию/функции выберите самостоятельно. Как вы можете прокомментировать свой выбор и что вы наблюдаете?

In [ ]:
all_agg = all.groupby(['country', 'GhoDisplay']).agg({
    'Numeric': ['mean', 'max', 'min', 'median'],
    'total_litres_of_pure_alcohol': ['mean']
})

all_agg.head(20)

                                                               Numeric  \
                                                                  mean
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  47.833333
            Life expectancy at age 60 (years)                15.223012
            Life expectancy at birth (years)                 56.311805
Albania     Healthy life expectancy (HALE) at birth (years)  63.800000
            Life expectancy at age 60 (years)                17.728610
            Life expectancy at birth (years)                 71.871584
Algeria     Healthy life expectancy (HALE) at birth (years)  61.622222
            Life expectancy at age 60 (years)                17.635895
            Life expectancy at birth (years)                 70.216262
Andorra     Healthy life expectancy (HALE) at birth (years)  70.966667
            Life expectancy at age 60 (years)                23.884953
            Life expectancy at birth (years)                 80.576820
Angola      Healthy life expectancy (HALE) at birth (years)  42.444444
            Life expectancy at age 60 (years)                14.931843
            Life expectancy at birth (years)                 47.852151
Argentina   Healthy life expectancy (HALE) at birth (years)  66.077778
            Life expectancy at age 60 (years)                20.768218
            Life expectancy at birth (years)                 74.903068
Armenia     Healthy life expectancy (HALE) at birth (years)  62.355556
            Life expectancy at age 60 (years)                16.897574

                                                                             \
                                                                  max   min
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  50.50000  44.6
            Life expectancy at age 60 (years)                17.00000  13.0
            Life expectancy at birth (years)                 61.97733  49.0
Albania     Healthy life expectancy (HALE) at birth (years)  66.00000  59.9
            Life expectancy at age 60 (years)                20.00000  15.0
            Life expectancy at birth (years)                 75.50800  67.0
Algeria     Healthy life expectancy (HALE) at birth (years)  63.20000  59.4
            Life expectancy at age 60 (years)                19.00000  16.0
            Life expectancy at birth (years)                 73.51464  66.0
Andorra     Healthy life expectancy (HALE) at birth (years)  74.00000  66.9
            Life expectancy at age 60 (years)                28.00000  19.0
            Life expectancy at birth (years)                 86.00000  74.0
Angola      Healthy life expectancy (HALE) at birth (years)  45.60000  37.9
            Life expectancy at age 60 (years)                16.28222  13.0
            Life expectancy at birth (years)                 53.19343  41.0
Argentina   Healthy life expectancy (HALE) at birth (years)  69.20000  62.2
            Life expectancy at age 60 (years)                24.00000  17.0
            Life expectancy at birth (years)                 79.61579  69.0
Armenia     Healthy life expectancy (HALE) at birth (years)  65.80000  59.4
            Life expectancy at age 60 (years)                19.22925  14.0

                                                                        \
                                                                median
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)  48.800000
            Life expectancy at age 60 (years)                15.061535
            Life expectancy at birth (years)                 57.000000
Albania     Healthy life expectancy (HALE) at birth (years)  63.900000
            Life expectancy at age 60 (years)                18.000000
            Life expectancy at birth (years)                 72.910505
Algeria     Healthy life expectancy (HALE) at birth (years)  61.700000
            Life expectancy at age 60 (years)                17.933450
            Life expectancy at birth (years)                 70.125475
Andorra     Healthy life expectancy (HALE) at birth (years)  71.700000
            Life expectancy at age 60 (years)                23.500000
            Life expectancy at birth (years)                 80.500000
Angola      Healthy life expectancy (HALE) at birth (years)  43.300000
            Life expectancy at age 60 (years)                15.000000
            Life expectancy at birth (years)                 48.500000
Argentina   Healthy life expectancy (HALE) at birth (years)  66.500000
            Life expectancy at age 60 (years)                21.000000
            Life expectancy at birth (years)                 75.500000
Armenia     Healthy life expectancy (HALE) at birth (years)  62.300000
            Life expectancy at age 60 (years)                16.953515

                                                            total_litres_of_pure_alcohol
                                                                                    mean
country     GhoDisplay
Afghanistan Healthy life expectancy (HALE) at birth (years)                          0.0
            Life expectancy at age 60 (years)                                        0.0
            Life expectancy at birth (years)                                         0.0
Albania     Healthy life expectancy (HALE) at birth (years)                          4.9
            Life expectancy at age 60 (years)                                        4.9
            Life expectancy at birth (years)                                         4.9
Algeria     Healthy life expectancy (HALE) at birth (years)                          0.7
            Life expectancy at age 60 (years)                                        0.7
            Life expectancy at birth (years)                                         0.7
Andorra     Healthy life expectancy (HALE) at birth (years)                         12.4
            Life expectancy at age 60 (years)                                       12.4
            Life expectancy at birth (years)                                        12.4
Angola      Healthy life expectancy (HALE) at birth (years)                          5.9
            Life expectancy at age 60 (years)                                        5.9
            Life expectancy at birth (years)                                         5.9
Argentina   Healthy life expectancy (HALE) at birth (years)                          8.3
            Life expectancy at age 60 (years)                                        8.3
            Life expectancy at birth (years)                                         8.3
Armenia     Healthy life expectancy (HALE) at birth (years)                          3.8
            Life expectancy at age 60 (years)                                        3.8

Исходя из этой таблицы я вижу, что все значения "Life expectancy at age 60 (years)"	в основном сильно меньше, чем в остальных параметрах. А также я вижу, что значение "total_litres_of_pure_alcohol" никак не зависит от параметра пролдолжительности жизни. Это происходит из-за того, что датасет drinks изначально создавался, не опираясь на данные в датасете о продолжительности жизни

### 13

Вставьте любые два столбца из предыдущего задания, которые вы получили путем группировки, в исходную таблицу в качестве двух новых столбцов (назвать вы их можете как хотите). Разумеется, значения этих столбцов должны соответствовать значениям исходной таблицы по указанным в прошлом задании категориям.

*Примечание. Не забудьте сохранить все изменения! В последующих заданиях вы должны работать с обновленным датасетом.*

In [ ]:
all_agg.columns = ['Numeric_mean', 'Numeric_max',
                 'Numeric_min', 'Numeric_median',
                 'total_litres_of_pure_alcohol_max']
df_all = pd.merge(all, all_agg[['Numeric_mean', 'Numeric_median']], on = ['country', 'GhoDisplay'], how = 'left')
df_all = df_all.drop(['index_y'], axis=1)
df_all

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,Numeric,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Numeric_mean,Numeric_median
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.00000,78,118,1,3.5,72.667402,73.00000
1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69.30000,313,118,165,11.4,69.911111,69.80000
2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.00000,6,0,0,0.1,61.567050,62.00000
3,Life expectancy at birth (years),2000,Africa,Lower_middle_income,Nigeria,Female,48.00000,42,5,2,9.1,50.473338,50.50000
4,Life expectancy at age 60 (years),1990,South_East Asia,Lower_middle_income,Thailand,Female,19.00000,99,258,1,6.4,19.895824,19.50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,Life expectancy at birth (years),2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68.00000,12,6,10,0.5,68.574297,69.05826
5507,Life expectancy at age 60 (years),1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16.00000,306,63,23,6.9,17.313487,17.00000
5508,Life expectancy at birth (years),1990,Africa,Low_income,Burkina Faso,Female,51.00000,25,7,7,4.3,53.880190,54.00000
5509,Healthy life expectancy (HALE) at birth (years),2012,Europe,Lower_middle_income,Albania,Male,63.50000,89,132,54,4.9,63.800000,63.90000
5510,Life expectancy at birth (years),2013,Europe,Missed,Armenia,Both sexes,71.02699,21,179,11,3.8,70.046697,71.00000

### 14

Используя группировки, аргументированно ответьте на вопрос: на каких континентах средняя ожидаемая продолжительность жизни выше у мужчин, а на каких у женщин?

А медианная ожидаемая продолжительность?

А минимальная ожидаемая продолжительность?

Сделайте выводы!

*Подсказка. Казалось бы, при чем здесь тип научной статьи?*

In [ ]:
df_all.groupby(['RegionDisplay', 'SexDisplay', 'GhoDisplay']).aggregate({'Numeric':['mean', 'median', 'min']})

                                                                                    Numeric  \
                                                                                       mean
RegionDisplay         SexDisplay GhoDisplay
Africa                Both sexes Healthy life expectancy (HALE) at birth (years)  49.312195
                                 Life expectancy at age 60 (years)                16.117368
                                 Life expectancy at birth (years)                 56.409163
                      Female     Healthy life expectancy (HALE) at birth (years)  50.266667
                                 Life expectancy at age 60 (years)                16.818231
                                 Life expectancy at birth (years)                 58.001878
                      Male       Healthy life expectancy (HALE) at birth (years)  48.369106
                                 Life expectancy at age 60 (years)                15.321498
                                 Life expectancy at birth (years)                 54.873456
Americas              Both sexes Healthy life expectancy (HALE) at birth (years)  64.075309
                                 Life expectancy at age 60 (years)                20.946046
                                 Life expectancy at birth (years)                 73.281922
                      Female     Healthy life expectancy (HALE) at birth (years)  66.174074
                                 Life expectancy at age 60 (years)                22.401226
                                 Life expectancy at birth (years)                 76.133224
                      Male       Healthy life expectancy (HALE) at birth (years)  62.000000
                                 Life expectancy at age 60 (years)                19.385220
                                 Life expectancy at birth (years)                 70.528088
Eastern Mediterranean Both sexes Healthy life expectancy (HALE) at birth (years)  60.010526
                                 Life expectancy at age 60 (years)                17.968690
                                 Life expectancy at birth (years)                 68.587532
                      Female     Healthy life expectancy (HALE) at birth (years)  60.596491
                                 Life expectancy at age 60 (years)                18.898744
                                 Life expectancy at birth (years)                 70.292203
                      Male       Healthy life expectancy (HALE) at birth (years)  59.403509
                                 Life expectancy at age 60 (years)                17.219911
                                 Life expectancy at birth (years)                 67.090891
Europe                Both sexes Healthy life expectancy (HALE) at birth (years)  66.725170
                                 Life expectancy at age 60 (years)                20.661115
                                 Life expectancy at birth (years)                 75.296317
                      Female     Healthy life expectancy (HALE) at birth (years)  69.207483
                                 Life expectancy at age 60 (years)                22.411151
                                 Life expectancy at birth (years)                 78.546562
                      Male       Healthy life expectancy (HALE) at birth (years)  64.217687
                                 Life expectancy at age 60 (years)                18.530762
                                 Life expectancy at birth (years)                 71.997365
South_East Asia       Both sexes Healthy life expectancy (HALE) at birth (years)  59.755556
                                 Life expectancy at age 60 (years)                17.588071
                                 Life expectancy at birth (years)                 66.732052
                      Female     Healthy life expectancy (HALE) at birth (years)  61.107407
                                 Life expectancy at age 60 (years)                18.444514
                                 Life expectancy at birth (years)                 68.455762
                      Male       Healthy life expectancy (HALE) at birth (years)  58.474074
                                 Life expectancy at age 60 (years)                16.753450
                                 Life expectancy at birth (years)                 65.084629
Western Pacific       Both sexes Healthy life expectancy (HALE) at birth (years)  62.765152
                                 Life expectancy at age 60 (years)                18.659452
                                 Life expectancy at birth (years)                 70.936486
                      Female     Healthy life expectancy (HALE) at birth (years)  64.569697
                                 Life expectancy at age 60 (years)                20.241287
                                 Life expectancy at birth (years)                 73.491946
                      Male       Healthy life expectancy (HALE) at birth (years)  61.092424
                                 Life expectancy at age 60 (years)                17.158164
                                 Life expectancy at birth (years)                 68.539001

                                                                                             \
                                                                                     median
RegionDisplay         SexDisplay GhoDisplay
Africa                Both sexes Healthy life expectancy (HALE) at birth (years)  49.600000
                                 Life expectancy at age 60 (years)                16.000000
                                 Life expectancy at birth (years)                 57.000000
                      Female     Healthy life expectancy (HALE) at birth (years)  50.100000
                                 Life expectancy at age 60 (years)                16.973490
                                 Life expectancy at birth (years)                 58.000000
                      Male       Healthy life expectancy (HALE) at birth (years)  49.000000
                                 Life expectancy at age 60 (years)                15.166500
                                 Life expectancy at birth (years)                 56.000000
Americas              Both sexes Healthy life expectancy (HALE) at birth (years)  64.400000
                                 Life expectancy at age 60 (years)                21.000000
                                 Life expectancy at birth (years)                 74.000000
                      Female     Healthy life expectancy (HALE) at birth (years)  66.400000
                                 Life expectancy at age 60 (years)                23.000000
                                 Life expectancy at birth (years)                 77.000000
                      Male       Healthy life expectancy (HALE) at birth (years)  62.400000
                                 Life expectancy at age 60 (years)                19.922600
                                 Life expectancy at birth (years)                 71.703695
Eastern Mediterranean Both sexes Healthy life expectancy (HALE) at birth (years)  62.100000
                                 Life expectancy at age 60 (years)                17.945850
                                 Life expectancy at birth (years)                 70.989760
                      Female     Healthy life expectancy (HALE) at birth (years)  63.200000
                                 Life expectancy at age 60 (years)                18.947020
                                 Life expectancy at birth (years)                 73.000000
                      Male       Healthy life expectancy (HALE) at birth (years)  61.400000
                                 Life expectancy at age 60 (years)                17.000000
                                 Life expectancy at birth (years)                 68.998275
Europe                Both sexes Healthy life expectancy (HALE) at birth (years)  67.600000
                                 Life expectancy at age 60 (years)                20.943165
                                 Life expectancy at birth (years)                 76.000000
                      Female     Healthy life expectancy (HALE) at birth (years)  70.400000
                                 Life expectancy at age 60 (years)                22.209430
                                 Life expectancy at birth (years)                 79.000000
                      Male       Healthy life expectancy (HALE) at birth (years)  64.900000
                                 Life expectancy at age 60 (years)                18.000000
                                 Life expectancy at birth (years)                 72.518745
South_East Asia       Both sexes Healthy life expectancy (HALE) at birth (years)  59.200000
                                 Life expectancy at age 60 (years)                17.036635
                                 Life expectancy at birth (years)                 68.000000
                      Female     Healthy life expectancy (HALE) at birth (years)  59.900000
                                 Life expectancy at age 60 (years)                18.000000
                                 Life expectancy at birth (years)                 68.968250
                      Male       Healthy life expectancy (HALE) at birth (years)  58.300000
                                 Life expectancy at age 60 (years)                16.494955
                                 Life expectancy at birth (years)                 65.000000
Western Pacific       Both sexes Healthy life expectancy (HALE) at birth (years)  62.150000
                                 Life expectancy at age 60 (years)                18.000000
                                 Life expectancy at birth (years)                 70.697525
                      Female     Healthy life expectancy (HALE) at birth (years)  63.650000
                                 Life expectancy at age 60 (years)                19.000000
                                 Life expectancy at birth (years)                 73.000000
                      Male       Healthy life expectancy (HALE) at birth (years)  60.500000
                                 Life expectancy at age 60 (years)                16.265375
                                 Life expectancy at birth (years)                 68.124050


                                                                                       min
RegionDisplay         SexDisplay GhoDisplay
Africa                Both sexes Healthy life expectancy (HALE) at birth (years)  33.10000
                                 Life expectancy at age 60 (years)                11.00000
                                 Life expectancy at birth (years)                 38.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  33.40000
                                 Life expectancy at age 60 (years)                11.00000
                                 Life expectancy at birth (years)                 38.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  32.80000
                                 Life expectancy at age 60 (years)                11.00000
                                 Life expectancy at birth (years)                 38.00000
Americas              Both sexes Healthy life expectancy (HALE) at birth (years)  47.80000
                                 Life expectancy at age 60 (years)                15.00000
                                 Life expectancy at birth (years)                 54.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  48.50000
                                 Life expectancy at age 60 (years)                16.00000
                                 Life expectancy at birth (years)                 56.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  47.10000
                                 Life expectancy at age 60 (years)                12.86658
                                 Life expectancy at birth (years)                 52.00000
Eastern Mediterranean Both sexes Healthy life expectancy (HALE) at birth (years)  42.90000
                                 Life expectancy at age 60 (years)                14.00000
                                 Life expectancy at birth (years)                 47.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  43.70000
                                 Life expectancy at age 60 (years)                15.00000
                                 Life expectancy at birth (years)                 50.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  42.00000
                                 Life expectancy at age 60 (years)                13.00000
                                 Life expectancy at birth (years)                 45.00000
Europe                Both sexes Healthy life expectancy (HALE) at birth (years)  54.30000
                                 Life expectancy at age 60 (years)                15.00000
                                 Life expectancy at birth (years)                 62.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  56.60000
                                 Life expectancy at age 60 (years)                16.00000
                                 Life expectancy at birth (years)                 65.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  51.20000
                                 Life expectancy at age 60 (years)                12.00000
                                 Life expectancy at birth (years)                 58.00000
South_East Asia       Both sexes Healthy life expectancy (HALE) at birth (years)  51.70000
                                 Life expectancy at age 60 (years)                13.00000
                                 Life expectancy at birth (years)                 53.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  51.70000
                                 Life expectancy at age 60 (years)                12.00000
                                 Life expectancy at birth (years)                 53.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  51.70000
                                 Life expectancy at age 60 (years)                14.00000
                                 Life expectancy at birth (years)                 53.00000
Western Pacific       Both sexes Healthy life expectancy (HALE) at birth (years)  50.20000
                                 Life expectancy at age 60 (years)                13.00000
                                 Life expectancy at birth (years)                 54.00000
                      Female     Healthy life expectancy (HALE) at birth (years)  51.90000
                                 Life expectancy at age 60 (years)                15.00000
                                 Life expectancy at birth (years)                 57.00000
                      Male       Healthy life expectancy (HALE) at birth (years)  48.60000
                                 Life expectancy at age 60 (years)                12.00000
                                 Life expectancy at birth (years)                 51.00000

Исходя из результатов становится понятно, что в среднем женщины живут дольше мужчин.

### 15

Работая лишь с общим объединенным датасетом и не используя исходную таблицу drinks, подсчитайте среднее потребление каждого вида алкоголя и среднее общее количество литров потребляемого алкоголя на человека по всем континентам. Занесите ваши результаты в отдельный датафрейм!

*Подсказка. Задача немного сложнее, чем может показаться на первый взгляд — в объединенном датасете страны встречаются разное количество раз, и из-за этого могут возникнуть определенные проблемы. Если так случится, надо подумать, как это обойти!*

*Примечание. Разумеется, это необходимо сделать автоматизированно, а не перебирая каждый континент по отдельности.*

In [ ]:
all_alc = df_all.groupby(['RegionDisplay']).aggregate({'beer_servings':'mean',
                                             'spirit_servings':'mean',
                                             'wine_servings':'mean',
                                             'total_litres_of_pure_alcohol':'mean'})
all_alc

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
RegionDisplay,,,,
Africa,72.609756,17.487805,16.048780,3.314634
Americas,144.925926,143.148148,38.962963,5.851852
Eastern Mediterranean,11.263158,21.578947,4.526316,0.736842
Europe,179.020408,129.795918,127.346939,8.002041
South_East Asia,18.000000,53.777778,0.111111,1.288889
Western Pacific,82.136364,78.863636,27.136364,3.513636

### 16

Создание новых признаков (feature engineering) является одним из основных средств улучшения качества работы алгоритмов машинного обучения на этапе обработки данных, а также отличный способ увеличить глубину ваших выводов из проделанного анализа в целом! Частично мы с вами уже осуществляли feature engineering, когда добавляли новые столбцы в задании 13 данного раздела.

Теперь давайте добавим в таблицу столбец, который будет показывать, какое общее количество servings per person производится в среднем по стране, к которой относится научная статья. Столбец для этого признака назовите 'total_servings'.

Чем может быть полезен такой признак?

***Бонус (2 бон. балла):*** Придумайте еще какой-нибудь свой осмысленный признак, который может быть полезен для анализа (несет в себе какую-то информацию), и добавьте его в таблицу. Обязательно аргументируйте, чем полезен ваш признак.

In [ ]:
df_all['total_servings'] = df_all['beer_servings'] + df_all['spirit_servings'] + df_all['wine_servings']
df_all

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,Numeric,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Numeric_mean,Numeric_median,total_servings
0,Life expectancy at birth (years),1990,Americas,Lower_middle_income,Nicaragua,Male,68.00000,78,118,1,3.5,72.667402,73.00000,197
1,Healthy life expectancy (HALE) at birth (years),2012,Europe,High_income,Ireland,Male,69.30000,313,118,165,11.4,69.911111,69.80000,596
2,Life expectancy at birth (years),2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61.00000,6,0,0,0.1,61.567050,62.00000,6
3,Life expectancy at birth (years),2000,Africa,Lower_middle_income,Nigeria,Female,48.00000,42,5,2,9.1,50.473338,50.50000,49
4,Life expectancy at age 60 (years),1990,South_East Asia,Lower_middle_income,Thailand,Female,19.00000,99,258,1,6.4,19.895824,19.50000,358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,Life expectancy at birth (years),2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68.00000,12,6,10,0.5,68.574297,69.05826,28
5507,Life expectancy at age 60 (years),1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16.00000,306,63,23,6.9,17.313487,17.00000,392
5508,Life expectancy at birth (years),1990,Africa,Low_income,Burkina Faso,Female,51.00000,25,7,7,4.3,53.880190,54.00000,39
5509,Healthy life expectancy (HALE) at birth (years),2012,Europe,Lower_middle_income,Albania,Male,63.50000,89,132,54,4.9,63.800000,63.90000,275
5510,Life expectancy at birth (years),2013,Europe,Missed,Armenia,Both sexes,71.02699,21,179,11,3.8,70.046697,71.00000,211

Этот признак в целом полезен для анализа, его можно использовать для проведения корреляций, которые могут привести к каким-либо выводам

### 17

Есть ли в данных категориальные признаки, которые принимают значения строк, а не чисел? Если да, то для многих алгоритмов это может стать серьезным препятствием, поэтому закодируйте категориальные признаки так, чтобы к данным можно было применить любые алгоритмы. Аргументируйте выбор методов кодирования.

*Подсказка. Вам могут помочь Label encoding и One-Hot Encoding. Но будьте внимательны! У каждого из этих методов есть свои сильные и слабые стороны, а также ограничения применимости.*

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df_all['WorldBankIncomeGroupDisplay'] = label_encoder.fit_transform(df_all['WorldBankIncomeGroupDisplay'])
df_all['country'] = label_encoder.fit_transform(df_all['country'])
df_all['SexDisplay'] = label_encoder.fit_transform(df_all['SexDisplay'])
df_all['GhoDisplay'] = label_encoder.fit_transform(df_all['GhoDisplay'])
df_all['RegionDisplay'] = label_encoder.fit_transform(df_all['RegionDisplay'])

In [ ]:
df_all = df_all.drop(['country_encoded'], axis=1)
df_all

,GhoDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,country,SexDisplay,Numeric,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Numeric_mean,Numeric_median,total_servings
0,2,1990,1,2,111,2,68.00000,78,118,1,3.5,72.667402,73.00000,197
1,0,2012,3,0,72,2,69.30000,313,118,165,11.4,69.911111,69.80000,596
2,2,2000,2,1,164,0,61.00000,6,0,0,0.1,61.567050,62.00000,6
3,2,2000,0,2,113,1,48.00000,42,5,2,9.1,50.473338,50.50000,49
4,1,1990,4,2,151,1,19.00000,99,258,1,6.4,19.895824,19.50000,358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,2,2000,2,2,103,0,68.00000,12,6,10,0.5,68.574297,69.05826,28
5507,1,1990,5,4,118,0,16.00000,306,63,23,6.9,17.313487,17.00000,392
5508,2,1990,0,1,22,1,51.00000,25,7,7,4.3,53.880190,54.00000,39
5509,0,2012,3,2,1,2,63.50000,89,132,54,4.9,63.800000,63.90000,275
5510,2,2013,3,3,6,0,71.02699,21,179,11,3.8,70.046697,71.00000,211

Здесь я использовал только label encoding, так как не было признаков, которые могут принимать только 2 значения

### 18

Придумайте какое-нибудь своё интересное задание на анализ предлагаемых данных и решите его.

Креативность в этом задании приветствуется, и за нее можно получить ***1-2 бонусных балла***!

*Подсказка. Вы можете вдохновляться различными заданиями из этого ДЗ, как, например, заданиями: 4, 6, 10, 12, 14, 15, 16. Но, чтобы получить бонусные баллы, лучше не используйте аналогичные идеи, а придумайте что-то своё!*

In [ ]:
df_spain = df_l[df_l['CountryDisplay'] == 'Spain']
df_spain.groupby(['CountryDisplay', 'SexDisplay', 'YearDisplay']).aggregate({'Numeric':['mean', 'median', 'min']})

                                         Numeric
                                            mean median       min
CountryDisplay SexDisplay YearDisplay
Spain          Both sexes 1990         49.500000   49.5  22.00000
                          2000         57.500000   70.5  23.00000
                          2012         59.966667   72.9  25.00000
                          2013         60.389000   73.2  25.34430
               Female     1990         52.500000   52.5  24.00000
                          2000         60.333333   73.0  25.00000
                          2012         62.300000   74.9  27.00000
                          2013         62.817220   75.3  27.53594
               Male       1990         46.000000   46.0  19.00000
                          2000         55.000000   68.0  21.00000
                          2012         57.266667   70.8  22.00000
                          2013         57.867830   71.1  22.93684

Решил посмотреть, как в Испании менялись эти цифры по годам. Видно, что чуть больше чем за 20 лет господа испанцы стали алкогольнее